/*header*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #ffffff;
  color: #222222;
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  padding: 0 34px;
  align-items: center;
  justify-content: space-between;
  min-height: 74px;
}

.header__logo {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 1.1000000238px;
  text-align: left;
  height: 45px;
  width: 86px;
  left: 86px;
  top: 6px;
  border-radius: nullpx;
  color: #222222;
}

.header--fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  -webkit-animation: fade 0.3s;
  animation: fade 0.3s;
}

@-webkit-keyframes fade {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fade {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.menu__icon {
  display: none;
}

.menu__list > li {
  position: relative;
  margin: 0 0 0 20px;
}

.menu__link {
  color: inherit;
  font-size: 15px;
}

.menu__link:hover {
  text-decoration: none;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  padding: 15px;
  min-width: 200px;
}

.menu__sub-list li {
  margin: 0 0 10px 0;
}

.menu__sub-list li:last-child {
  margin: 0;
}

.menu__sub-link {
  color: #222222;
}

.menu__sub-link:hover {
  text-decoration: underline;
}

.menu__arrow {
  display: none;
}

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0%);
  pointer-events: all;
}

body._touch .menu__list > li {
  display: flex;
  align-items: center;
}

body._touch .menu__link {
  flex: 1 1 auto;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0 0 0 5px;
  transition: transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #222222;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0%);
  pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
  transform: rotate(-180deg);
}

/*hero*/

.parallax {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.parallax__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 74px;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.parallax__title {
  font-family: Poppins;
  font-weight: 400;
  line-height: 85px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

.parallax__buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.parallax__buttons button {
  width: 100px;
}

.parallax__buttons button:last-child {
  margin-left: 1rem;
}

.parallax__list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax__list li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax__bg {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  background: url("../img/hero/image.webp") 50% 100%/cover no-repeat;
}

.parallax__planet {
  position: absolute;
  width: 100%;
  height: 100%;
}

.parallax__planet-0 {
  background: url("../img/hero/image-5.webp") 50% 100%/cover no-repeat;
  max-height: 183px;
  max-width: 183px;
  left: calc(50% - 91.5px + 469.7px);
  top: calc(50% - 91.5px - 217px);
}

.parallax__planet-1 {
  background: url("../img/hero/image-5.webp") 50% 100%/cover no-repeat;
  max-height: 433px;
  max-width: 433px;
  left: calc(50% - 216.5px - 726.3px);
  top: calc(50% - 216.5px - 379px);
}

.parallax__planet-2 {
  background: url("../img/hero/image-5.webp") 50% 0%/cover no-repeat;
  max-width: 936px;
  max-height: 583px;
  top: calc(50% - 291.5px + 563px);
  right: -748.8px;
}

.parallax__hole-0,
.parallax__hole-1 {
  max-width: 499px;
  max-height: 499px;
  top: calc(50% - 249.5px);
  left: calc(50% - 249.5px);
}

.parallax__hole-0 {
  background: url("../img/hero/image-6.webp") 100% 100%/contain no-repeat;
}

.parallax__hole-1 {
  background: url("../img/hero/image-7.webp") 100% 100%/contain no-repeat;
}

.parallax__cross-0 {
  background: url("../img/hero/image-4.webp") top/cover no-repeat;
  width: 34px;
  height: 34px;
  left: calc(50% - 17px + 562.2px);
  top: calc(50% - 17px + 24.5px);
}

.parallax__cross-1 {
  background: url("../img/hero/image-4.webp") top/cover no-repeat;
  width: 50px;
  height: 50px;
  left: calc(50% - 25px - 626.8px);
  top: calc(50% - 25px + 288.5px);
}

@media (min-width: 767px) {
  .parallax__title {
    font-size: calc(35px + 35 *(100vw / 1440));
  }

  .menu__list {
    display: flex;
    align-items: center;
  }

  .menu__list > li {
    padding: 10px 0;
  }

  .menu__sub-list {
    transform: translate(0px, 10px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 767px) {
  .parallax__title {
    font-size: calc(35px + 59.5 *((100vw - 320px) / 1440));
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    transition: all 0.3s ease 0s;
    background-color: #222222;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    top: 50%;
    transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    background-color: #912105;
    z-index: 2;
  }

  .menu__list > li {
    flex-wrap: wrap;
    margin: 0 0 30px 0;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__list > li._active .menu__sub-list {
    display: block;
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__sub-list {
    position: relative;
    background-color: rgba(34, 34, 34, 0.1333333333);
    flex: 1 1 100%;
    margin: 20px 0 0 0;
    display: none;
  }

  .menu__sub-link {
    font-size: 20px;
    color: black;
  }

  .parallax__bg {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: url("../img/hero/image.webp") 20% 100%/cover no-repeat;
  }

  .parallax__planet-0 {
    left: 0;
    top: 0;
  }

  .parallax__planet-1 {
    background: url("../img/hero/image-5.webp") 100% 100%/contain no-repeat;
    top: 20%;
    left: 50%;
  }

  .parallax__planet-2 {
    display: none;
  }

  .parallax__cross-0 {
    top: auto;
    bottom: 5%;
    left: 10%;
  }

  .parallax__cross-1 {
    display: none;
  }
}

@media (max-width: 499px) {
  .parallax__hole-0,
  .parallax__hole-1 {
    left: 0;
  }
}