@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  margin: 0;
}

*,
*::before,
*::after {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

button {
  border: 0;
  background: transparent;
}

.__btn {
  transition: background-color 0.5s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  width: 156px;
  height: 56px;
  border: none;
  border-radius: 0px;
  background: transparent;
  font-family: Poppins;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0em;
}

.__btn:hover,
.__btn:focus {
  color: white;
}

.__btn-orange {
  background-color: #FD8558;
}

.__btn-orange:hover,
.__btn-orange:focus {
  background-color: #fc6026;
}

.__btn-orange-outline {
  border: 2px white solid;
}

.__btn-orange-outline:hover,
.__btn-orange-outline:focus {
  background-color: black;
}

.__btn-box {
  grid-area: btn;
  display: flex;
  justify-content: end;
  align-items: center;
}

.__btn-group {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
}

.__btn-group .__btn {
  font-size: 1.0997067449vw;
  line-height: 2.1994134897vw;
  width: 11.4369501466vw;
  height: 4.1055718475vw;
}

.__btn-group .__btn:first-of-type {
  margin-right: 1rem;
}

html,
body {
  line-height: 150%;
  height: 100%;
}

html._lock,
body._lock {
  overflow: hidden;
}

body {
  font-size: 15px;
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
}

h1,
h2 {
  margin: 0;
}

h6 {
  font-size: 0;
  line-height: 0;
}

a {
  text-decoration: none;
}

a:focus,
a:hover {
  color: #FD8558;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.about,
.works,
.testimonials,
.news,
footer {
  z-index: 2;
  position: relative;
}

.about .page__container,
.works .page__container,
.testimonials .page__container,
.news .page__container,
footer .page__container {
  max-width: 1200px;
}

.page__section {
  background-color: white;
}

.page__section-1,
.page__section-2 {
  padding-top: 226px;
}

.page__container {
  display: grid;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 0;
}

.page__container::after {
  font-family: Poppins;
  font-size: 150px;
  font-weight: 400;
  line-height: 145px;
  letter-spacing: 0.1000000015px;
  text-align: left;
  color: #F7F7F7;
}

.page h2.page__title {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 2px;
  text-align: left;
  color: #FD8558;
  text-transform: uppercase;
}

.page .page__sub-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  line-height: 54px;
  display: inline-block;
  /* or 135% */
}

.page__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  /* or 170% */
}

.page__text-black {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* or 156% */
  text-transform: capitalize;
}

.page__text-big {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 45px;
  /* or 173% */
}

.page__signature {
  display: grid;
}

.page__signature span:first-child {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */
}

.page__signature span:last-child {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  /* identical to box height, or 180% */
  letter-spacing: 1.8px;
  color: #CACACA;
}

.page__card {
  display: grid;
  place-items: center center;
  text-align: center;
}

.page__theme {
  filter: invert(35%);
  width: 20px;
  height: 20px;
}

.page__reset {
  opacity: 0;
  visibility: hidden;
}

.page__reset.active {
  opacity: 1;
  visibility: visible;
}

.page__reset::before {
  content: "reset";
  position: absolute;
  top: 0;
  left: 20px;
  cursor: pointer;
  width: 20px;
  height: 10px;
  font-size: 7px;
  border-radius: 5px;
  line-height: 10px;
  color: white;
  text-align: center;
  background-color: #666;
}

.page__image {
  position: relative;
  padding: 0 0 90% 0;
  background: url("../img/loading.gif") center/50px no-repeat;
}

.page__image img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

._load {
  opacity: 0;
}

._load._show {
  opacity: 1;
  transition: opacity 1s;
}

._loading-icon {
  background: url("@img/loading.gif") center/50px no-repeat;
  height: 50px;
}

.__progress label {
  display: flex;
  align-items: flex-end;
}

.__progress progress {
  position: relative;
  background: transparent;
  width: 100%;
  height: 5px;
}

.__progress progress::before {
  position: absolute;
  bottom: 100%;
  display: flex;
  justify-content: end;
}

.__progress progress#illustration::before {
  content: "90%";
  width: 90%;
}

.__progress progress#web_design::before {
  content: "80%";
  width: 80%;
}

.__progress progress#development::before {
  content: "95%";
  width: 95%;
}

.__progress ::-webkit-progress-value {
  background: linear-gradient(90deg, #FF4803 0%, #FFAE35 59.74%);
}

.__progress ::-webkit-progress-bar {
  background: rgba(255, 255, 255, 0.4);
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;
}

@-moz-document url-prefix()  {
  .works .container:nth-of-type(3) progress {
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
  }

  .works .container:nth-of-type(3) progress::-moz-progress-bar {
    background: linear-gradient(90deg, #FF4803 0%, #FFAE35 59.74%);
  }
}

/*theme.scss*/

html.dark .page > section {
  color: white;
  background-color: #333;
  transition: all 0.3s ease 0s;
}

html.light .page > section {
  transition: all 0.3s ease 0s;
}

.page__theme {
  position: relative;
  z-index: 5;
  width: 20px;
  height: 20px;
}

.page__theme::after {
  content: " ";
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 100%;
}

html.dark .page__theme::after {
  background: url("../img/icons/icons.svg#sun") 0 0/100% no-repeat;
}

html.light .page__theme::after {
  background: url("../img/icons/icons.svg#moon") 0 0/100% no-repeat;
}

html .page__theme {
  background-color: transparent;
  transition: all 0.3s ease 0s;
}

html.light .page__sub-title {
  color: #333333;
}

html.dark .page__text {
  color: #cccccc;
}

html.light .page__text {
  color: #999999;
}

html.light .page__text-black,
html.light .page__text-big,
html.light .page__signature span:first-child,
html.light .page__card-title,
html.light .page__info-address,
html.light .page__info-mail,
html.light .page__info-tel {
  color: #222222;
}

html.light .page__author {
  color: white;
}

html.dark input,
html.dark textarea {
  color: black;
}

@media (min-width: 767px) {
  .page__container::after {
    font-size: calc(100px + 50 *(100vw / 1440));
  }

  .page .page__sub-title {
    font-size: calc(25px + 15 *(100vw / 1440));
  }

  .page__text-black {
    font-size: calc(15px + 3 *(100vw / 1440));
  }

  .page__text-big {
    font-size: calc(15px + 11 *(100vw / 1440));
  }
}

@media (max-width: 767px) {
  .page__container::after {
    font-size: calc(100px + 85 *((100vw - 320px) / 1440));
  }

  .page .page__sub-title {
    font-size: calc(25px + 25.5 *((100vw - 320px) / 1440));
  }

  .page__text-black {
    font-size: calc(15px + 5.1 *((100vw - 320px) / 1440));
  }

  .page__text-big {
    font-size: calc(15px + 18.7 *((100vw - 320px) / 1440));
  }
}